[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
django = "*"
black = "*"
isort = "*"
django-debug-toolbar = "*"
user-agents = "*"
django-user-agents = "*"

[dev-packages]

[requires]
python_version = "3.11"
